//GENERIC FOR ALL PAGES
.top_row{
  .hero{
    background:linear-gradient(to bottom, rgba(10,52,93,1) 0%,rgba(10,52,93,1) 50%,rgba(10,52,93,1) 76%,rgba(10,52,93,1) 100%),  url('../img/hero-one.jpg') center center / cover no-repeat;
    @media only screen and (max-width: 750px) {
      background:linear-gradient(to bottom, rgba(10,52,93,1) 0%,rgba(10,52,93,1) 50%,rgba(10,52,93,1) 76%,rgba(10,52,93,1) 100%),  url('../img/hero-one-mobile.jpg') center center / cover no-repeat;

    }
  }
}
.bottom_row{
  .sub-page{
    &:nth-child(1){
      background-color: $grey;
    }
    &:nth-child(2){
      background-color: $grey;
    }
    &:nth-child(3){
      background-color: $grey;
    }
    &:nth-child(4){
      background-color: $grey;
    }
    &:nth-child(5){
      background-color: $grey;
    }
  }
}

// PAGE SPECIFIC OVERRIDES
.home-wrapper{
  .top_row{
    .hero{
      background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one.jpg') center center / cover no-repeat;
      @media only screen and (max-width: 750px) {
        background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one-mobile.jpg') center center / cover no-repeat;

      }
    }
  }
  .bottom_row{}
}

.step-one-wrapper{
  .top_row{
    .hero{
      background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-two.jpg') center center / cover no-repeat;
      @media only screen and (max-width: 750px) {
        background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-two-mobile.jpg') center center / cover no-repeat;

      }
    }
  }
  .bottom_row{}
}

.step-two-wrapper{
  .top_row{
    .hero{
      background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one.jpg') center center / cover no-repeat;
      @media only screen and (max-width: 750px) {
        background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one-mobile.jpg') center center / cover no-repeat;

      }
    }
  }
  .bottom_row{}
}

.step-three-wrapper{
  .top_row{
    .hero{
      background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-two.jpg') center center / cover no-repeat;
      @media only screen and (max-width: 750px) {
        background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-two-mobile.jpg') center center / cover no-repeat;

      }
    }
  }
  .bottom_row{}
}

.step-four-wrapper{
  .top_row{
    .hero{
      background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one.jpg') center center / cover no-repeat;
      @media only screen and (max-width: 750px) {
        background:linear-gradient(to top, rgba(10,52,93,1) 0%,rgba(10,52,93,0.3) 50%,rgba(10,52,93,0) 76%,rgba(10,52,93,0) 100%),  url('../img/hero-one-mobile.jpg') center center / cover no-repeat;

      }
    }
  }
  .bottom_row{}
}